#draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}
#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}
.card {
    height: 200px;
    width: 125px;
    margin: 15px;
}
.game-area{
    height: 500px;
    width: 500px;
    background-color: grey;
}