* {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: black;
    background-color: #efefef;
    background-image: url(../img/istockphoto-140020812-612x612.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
  }
  /* -------------------------------------------------------------------------
     shifumi
    -------------------------------------------------------------------------- */
  
  .content-custom {
    width: 100%;
    height: 100%;
    margin-top: 80px;
  }
  
  .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .content-area{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* container des cards */
  .content-card{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 700px) {
    .content-card{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  
  .first-card, .seconde-card{
    height: 300px;
    width: 300px;
    border: 2px dashed black;
  }
  
  .game-area {
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px solid black;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .img-vs{
    width: 50px;
    height: 50px;
  }
  
  .item {
    height: 300px;
    width: 200px;
    margin: 15px;
  }
  
  .img-card:hover{
    transform: translateY(-20px);
    transition: transform 200ms ease-in-out;
  }

  /* drag and drop */

  .hovered {
    background: #f4f4f4;
}
